body {
  background-image: url("https://rare-gallery.com/mocahbig/477290-binary-technology-code-numbers-cyan-digital-art.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
